* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background: black;
}


div {
  height: 33.33vh;
  margin: 20px;
}

input[type=number] {
  width: 100%;
  height: 100%;
  outline: none;
  background: black;
  color: white;
  font-size: 5rem;
  text-align: center;
  border: 0;
}

#farenheight{
  border-top: 4px solid green;
  border-bottom: 4px solid green;
}

::-webkit-input-placeholder {
  color: #ff4040;
}
::-moz-placeholder {
  color: #ff4040;
}

::-ms-input-placeholder{
  color: #ff4040;
}

:-ms-input-placeholder{
  color: #ff4040;
}